//***** Variable *****//
$primary-color : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color : #99E2D0;



* {
    font-family:"Roboto", sans-serif;
}

a{
    text-decoration: inherit;
    color: inherit;
}

h1 {
    font-family: "Shrikhand", serif;
}

body {
    margin: auto;
    max-width: 1440px;
    background-color: #F6F6F6;
}

.btn {
    display: flex;
    width: 218px;
    height: 50px;
    background: linear-gradient(0deg,#9356DC,#FF79DA);
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px 0px #00000040;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms;
    &:hover {
        box-shadow: 0px 4px 15px 0px #000000a1;
        filter: brightness(110%);
    }
        
        
}


//***** Header *****/

.hautPage {
    display: flex;
    flex-direction: column;

    img {
        width: 162px;
        height: 44px;
        object-fit: contain;
    }

    .logo {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 4px 0px #00000026;
        width: 100%;
        height: 63px;
        z-index: 1;
    }

    .location {
        display: flex;
        background-color:#EAEAEA ;
        justify-content: center;
        align-items: center;
        gap: 17px;
        box-shadow: 0px 4px 4px 0px #00000040;
    
    }

}


//***** Footer *****//

.basPage {
    display: flex;
    flex-direction: column;
    height: 186px;
    background-color: #353535;
    padding: 20px;
    gap: 10px;
    justify-content: space-evenly;

    &__titre {
        display: flex;
        font-family: "Shrikhand", serif;
        color: white;
        font-size: 20px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__link {
        display: flex;
        color: white;
        gap: 15px;


        &--bold {
            font-weight: 500;
        }


        .icon {
            display: flex;
            width: 11px;
            height: 13px;
        }

    }
}


//***** Rerserver *****//

.reserver{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    justify-content: center;

    &__txt {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__titre {
        display: flex;
        justify-content: center;


        h2 {
            display: flex;
            text-align: center;
            padding-top: 20px;
            margin-bottom: 0;
            width: 75%;
        }
    }

    &__content {
        display: flex;
        justify-content: center;

        p {
            display: flex;
            text-align: center;
            margin: 0;
            width: 90%;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;

        
        
    }
}


//***** Fonctionnement *****//

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    gap: 30px;
    width: 100%;
    background-color: white;

    h2 {
        display: flex;
        margin-top: 30px;
        padding-left: 15px;
        margin-bottom: 0;
    }

    &__cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    &__card {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: flex-start;
        width: 85%;
        height: 72px;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;


        .circle {
            display: flex;
            position: absolute;
            color: white;
            left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 25px;
            background-color: $primary-color;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        padding-left: 28px;
        width: 247px;
        gap: 20px;

        .purple {
            color: $primary-color;
        }

        i {
            color: #7E7E7E;
        }

        p {
            display: flex;
        }
    }
}


//***** Restaurants *****//

.restaurants {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    flex-direction: column;

    h2 {
        display: flex;
        padding-left: 19px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }

    &__card {
        box-shadow: 0px 4px 15px 0px #0000001A;
        position: relative;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 251px;
        width: 340px;
        background-color: white;
        gap: 10px;

        img {
            display: flex;
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }

        .new {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #008766;
            top: 13px;
            left: 248px;
            width: 80px;
            height: 29px;
            background-color: $tertiary-color;
            box-shadow: 0px 2px 4px 0px #00000026;

        }

        
    }


    &__content {
        display: flex;
        align-items: center;
        width: 95%;
        justify-content: space-between;

    }


    &__txt {
        display: flex;
        padding-left: 15px;
        flex-direction: column;
        gap: 10px;

        h3, p {
            margin: 0;
        }
    }


    &__heart {
        display: flex;

        .btn__heart {
            display: flex;
            border: none;
            position: relative;
            background-color: white;



            &--on {
                display: flex;
                
            }


            .full-heart {
                color: $primary-color;
                opacity: 0;
                position: absolute;
                transition: opacity 200ms;

                &::before {
                    background-image: linear-gradient($primary-color,$secondary-color);
                    background-clip: text;
                    color: rgba(0, 0, 0, 0.2);
                }
            }

            &:hover .full-heart {
                opacity: 1;
            

            }
        }
    }
}







//***** Média queries Tablette (768px-1024px) *****//

@media (min-width : 768px) and (max-width : 1023px) {
    
    .fonctionnement__card {
        width: 55%;
        justify-content: center;
    }



    .restaurants__cards {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        gap: 60px;
    }




    .basPage {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        height: 90px;
        gap: 50px;


        &__links {
            flex-direction: row;
            gap: 25px;
        }

        &__link {
            align-items: center;
            font-size: 14px;
        }

    }

}






//***** Media Queries Pc (1024px - 1440px)

@media (min-width : 1024px) {
    body {
        max-width: 1440px;
    }


    .reserver {
        align-items: center;
        &__txt {
            gap: 20px;
            width: 900px;
            align-items: center;
            justify-content: center;
         
        }
        &__titre {
            width: 100%;
        }

        &__titre h2 {
            
                padding-top: 30px;
                font-size: 39px;
                margin-top: 0;
            
        }


    }

    

    .fonctionnement {
        height: 215px;


        &__cards {
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }



        &__card {
            width: 25%;
            height: 60px;
        }
    }


    .restaurants {

        &__cards {
            flex-direction: row;
            gap: 30px;
            flex-wrap: wrap;
        }

        &__card {
            width: 490px;


            .new {
                top: 20px;
                left: 390px;
            }
        }

    }


    .basPage {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        height: 90px;
        gap: 50px;


        &__links {
            flex-direction: row;
            gap: 25px;
        }

        &__link {
            align-items: center;
            font-size: 14px;
        }

    }
}