* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  font-family: "Shrikhand", serif;
}

body {
  margin: 0;
  background-color: #F6F6F6;
}

.btn {
  display: flex;
  width: 218px;
  height: 50px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
}

.hautPage {
  display: flex;
  flex-direction: column;
}
.hautPage img {
  width: 162px;
  height: 44px;
  -o-object-fit: contain;
     object-fit: contain;
}
.hautPage .logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  height: 63px;
  z-index: 1;
}
.hautPage .location {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.basPage {
  display: flex;
  flex-direction: column;
  height: 186px;
  background-color: #353535;
  padding: 20px;
  gap: 10px;
  justify-content: space-evenly;
}
.basPage__titre {
  display: flex;
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 20px;
}
.basPage__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.basPage__link {
  display: flex;
  color: white;
  gap: 15px;
}
.basPage__link--bold {
  font-weight: 500;
}
.basPage__link .icon {
  display: flex;
  width: 11px;
  height: 13px;
}

.reserver {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
  justify-content: center;
}
.reserver__txt {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reserver__titre {
  display: flex;
  justify-content: center;
}
.reserver__titre h2 {
  display: flex;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
  width: 75%;
}
.reserver__content {
  display: flex;
  justify-content: center;
}
.reserver__content p {
  display: flex;
  text-align: center;
  margin: 0;
  width: 90%;
}
.reserver__btn {
  display: flex;
  justify-content: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  gap: 30px;
  width: 100%;
  background-color: white;
}
.fonctionnement h2 {
  display: flex;
  margin-top: 30px;
  padding-left: 15px;
  margin-bottom: 0;
}
.fonctionnement__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.fonctionnement__card {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 85%;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.fonctionnement__card .circle {
  display: flex;
  position: absolute;
  color: white;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
}
.fonctionnement__content {
  display: flex;
  align-items: center;
  padding-left: 28px;
  width: 247px;
  gap: 20px;
}
.fonctionnement__content .purple {
  color: #9356DC;
}
.fonctionnement__content i {
  color: #7E7E7E;
}
.fonctionnement__content p {
  display: flex;
}

.restaurants {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
  flex-direction: column;
}
.restaurants h2 {
  display: flex;
  padding-left: 19px;
  margin-top: 40px;
  margin-bottom: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.restaurants__card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 251px;
  width: 340px;
  background-color: white;
  gap: 10px;
}
.restaurants__card img {
  display: flex;
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card .new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #008766;
  top: 13px;
  left: 248px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
}
.restaurants__content {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
.restaurants__txt {
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  gap: 10px;
}
.restaurants__txt h3, .restaurants__txt p {
  margin: 0;
}
.restaurants__heart {
  display: flex;
}
.restaurants__heart .btn__heart {
  display: flex;
  border: none;
  position: relative;
  background-color: white;
}
.restaurants__heart .btn__heart--on {
  display: flex;
}
.restaurants__heart .btn__heart .full-heart {
  color: #9356DC;
  opacity: 0;
  position: absolute;
  transition: opacity 200ms;
}
.restaurants__heart .btn__heart:hover .full-heart {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */